<%= turbo_frame_tag "posts-page-#{@pagy.next}",
                    loading: :lazy,
                    # autoscroll: true,
                    src: pagy_url_for(@pagy, @pagy.next) do %>
                    <div class="bg-blue-600">Loading...</div>
                    <% end %>
